<div id="main_page">
  <div class="head_of_the_table">
    <label class="btn" for="modal-1">New Project</label>
    <label class="btn" for="modal-2">New User</label>
    <label class="btn" for="modal-3">New Task</label>
    <input type="filter" name="filter" placeholder="Filter">

    <div class="wrapper">
      <div class="table_wrap">
        <table class="table">
          <thead>
          <tr>
            <th>Project code</th>
            <th>Task</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Due Date</th>
            <th>Estimation</th>
            <th>Assignee</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Registration</td>
            <td>Max</td>
            <td>Open</td>
            <td>17.03.2018</td>
            <td>17.03.2018</td>
            <td>20.03.2018</td>
            <td>3 days</td>
            <td>Marchenko</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td><input class="delete-task" type="submit" value="Delete"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ul class="pagination">
      <li class="pagination-item">
        <a href="#">Previous</a>
      </li>
      <li class="pagination-item pg-active">
        <a href="#">1</a>
      </li>
      <li class="pagination-item">
        <a href="#">2</a>
      </li>
      <li class="pagination-item">
        <a href="#">3</a>
      </li>
      <li class="pagination-item">
        <a href="#">4</a>
      </li>
      <li class="pagination-item">
        <a href="#">Next</a>
      </li>
    </ul>
  </div>
