<div id="main_page">
  <div class="head_of_the_table">
    <label class="btn" (click)="add-project()">New Project</label>
    <label class="btn" for="modal-2">New User</label>
    <label class="btn" for="modal-3">New Task</label>
    <input type="filter" name="filter" placeholder="Filter">
  </div>
    <div class="wrapper">
      <div class="table_wrap">
        <table class="table">
          <thead>
          <tr>
            <th>Project code</th>
            <th>Task</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Due Date</th>
            <th>Estimation</th>
            <th>Assignee</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <tr *ngFor="let task of tasks" >
            <td>{{task.ticket_code}}</td>
            <td>{{task.id}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.status}}</td>
            <td>{{task.created_data}}</td>
            <td>{{task.created_data}}</td>
            <td>{{task.due_data}}</td>
            <td>{{task.estimation}}</td>
            <td>{{task.user}}</td>
            <td>{{task.description}}</td>
            <td><input class="delete-task" type="submit" value="Delete"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ul class="pagination">
      <li class="pagination-item">
        <a href="#">Previous</a>
      </li>
      <li class="pagination-item pg-active">
        <a href="#">1</a>
      </li>
      <li class="pagination-item">
        <a href="#">2</a>
      </li>
      <li class="pagination-item">
        <a href="#">3</a>
      </li>
      <li class="pagination-item">
        <a href="#">4</a>
      </li>
      <li class="pagination-item">
        <a href="#">Next</a>
      </li>
    </ul>
  </div>

