<div class="modal">
  <input class="modal-open" id="modal-2" type="checkbox" hidden>
  <div class="modal-wrap" aria-hidden="true" role="dialog">
    <label class="modal-overlay" for="modal-2"></label>
    <div class="modal-dialog">
      <div class="modal-header">
        <h2>New User</h2>
      </div>
      <div class="modal-body">
        <input type="login"  placeholder="Login" class="field_input">
        <input type="password"  placeholder="Password" class="field_input">
        <input type="password"  placeholder="Confirm Password" class="field_input">
        <form class="form_select">
          <div class="forma_select">
            <select name="select">
              <option value="0">Select</option>
              <option value="1">Project manager</option>
              <option value="2">Developer</option>
              <option value="3">Tester</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <label class="btn btn-primary" for="modal-2">Add</label>
      </div>
    </div>
  </div>
</div>
